/* Colors */
/* 545e75 */
/* 63adf2 */
/* a7cced */
/* 304d6d */
/* 82a0bc */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border: 1px solid #304d6d;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.skills-section {
  background-color: #82a0bc;
  margin-top: 20px;
  font-size: 25px;
}

.skills-row {
  margin-left: 5%;
  margin-right: 5%;
}

.projects-section {
  background-color: #304d6d;
  margin-bottom: 10%;
}

.projects-header {
  color: white;
}

.project-card {
  height: 300px;
  width: 300px;
  margin-bottom: 15px;
  margin-left: 15px;
}

body {
  background-color: #82a0bc;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

a.white {
  color: #FFF;
}

.btn i.zmdi{
  margin-right: 3px;
}

i.fa, a, a:hover {
  color: #82a0bc;
}

.btn {
  display: inline-block;
  margin-top: 15px;

  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.33;
  border-radius: 6px;
  border: solid 2px #82a0bc;
  background: transparent;
  text-align: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #82a0bc;
  color: #FFF;
  text-decoration: none;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 20px;
}

.btn-sm {
  padding: 14px 18px;
  font-size: 16px;
}