/* Colors */
/* 545e75 */
/* 63adf2 */
/* a7cced */
/* 304d6d */
/* 82a0bc */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border: 1px solid #304d6d;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #304d6d;
}

.section-header {
  margin-bottom: 25px;
}

.skills-section {
  background-color: #82a0bc;
  margin-top: 50px;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills-row {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 50px;
}

.projects-section {
  background-color: #304d6d;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects-header {
  color: white;
}

.project-card {
  height: 325px;
  width: 90%;
  margin-bottom: 50px;
  margin-left: 5%;
}

.links-section {
  background-color: #82a0bc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links-section-a {
  outline: none;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .link-section-icon {
    color: white;
    background-color: #304d6d;
    border-radius: 10px;
    font-size: 20vw !important;
    width: 80%;
  }
}

.link-section-icon {
  color: white;
  background-color: #304d6d;
  border-radius: 10px;
  font-size: 10vw !important;
  width: 50%;
}

.link-section-icon:hover {
  color: #304d6d;
  background-color: white;
  border-radius: 10px;
  font-size: 10vw !important;
  width: 50%;
  transition: background-color 0.5s ease-out;
}

.link-section-icon:active {
  color: #304d6d;
  background-color: white;
  border-radius: 10px;
  font-size: 10vw !important;
  width: 50%;
  transition: background-color 0.5s ease-out;
}

body {
  background-color: #82a0bc;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.white {
  color: #FFF;
}

.btn i.zmdi {
  margin-right: 3px;
}

i.fa,
a,
a:hover {
  color: #82a0bc;
}

.btn {
  display: inline-block;
  margin-top: 15px;

  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.33;
  border-radius: 6px;
  border: solid 2px #82a0bc;
  background: transparent;
  text-align: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #82a0bc;
  color: #FFF;
  text-decoration: none;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 20px;
}

.btn-sm {
  padding: 14px 18px;
  font-size: 16px;
}