/* Colors */
/* 545e75 */
/* 63adf2 */
/* a7cced */
/* 304d6d */
/* 82a0bc */
.circular {
    width: 300px;
    height: 300px;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }